<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){

        });
        function eventhref(id){

        location.href ='/event/' + id;
        }
    </script>
</th:block>

<th:block layout:fragment="css">
    <style>
        .imgdiv>img{
        width:700px;

        }
    </style>
</th:block>

<div layout:fragment="content">
    <div>
        <div><img th:src="@{/css/images/event.jpg}"></div>
    </div>
    <div  th:each="event :${event}">
        <!-- event.eventImgs가 비어 있는 경우 -->
        <div class="imgdiv" th:if="${not #strings.isEmpty(event.content)}">
            <img th:src="${event.content}" th:data-id="${event.id}" onclick="eventhref(this.getAttribute('data-id'))">
        </div>
        <!-- event.content가 비어 있거나 null인 경우 -->
        <div class="imgdiv" th:if="${#strings.isEmpty(event.content)}">
            <img th:src="${event.eventImgs[0].imgUrl}" th:data-id="${event.id}" onclick="eventhref(this.getAttribute('data-id'))">
        </div>
    </div>
</div>

</html>