<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){

        });

        function update(id){

        location.href='/event/update/'+id
        }

        function deleted(id){
        location.href='/event/delete/'+id
        }

    </script>
</th:block>

<th:block layout:fragment="css">
    <style>
        .imgdiv>img{
        width:700px;

        }
    </style>
</th:block>

<div layout:fragment="content">
    <div>
        <!-- event.content가 비어 있지 않은 경우 -->
        <div class="imgdiv" th:if="${not #lists.isEmpty(event.content)}">
            <div th:each="event : ${event.content}">
                <img th:src="${event.link}" class="text-center" alt="Event Image">
            </div>
        </div>

        <!-- event.content가 비어 있는 경우 -->
        <div class="imgdiv" th:if="${#lists.isEmpty(event.content)}">
            <div th:each="eventImg : ${event.eventImgs}" class="text-center">
                <img th:src="${eventImg.imgUrl}" alt="Event Image">
            </div>
        </div>
    </div>

    <div th:if="${member.Role == T(com.trip.constant.Role).ADMIN}">
        <button type="button" th:value="${event.id}" onclick="update(this.getAttribute('value'))">수정하기</button>
        <button type="button" th:value="${event.id}" onclick="deleted(this.getAttribute('value'))">삭제하기</button>
    </div>


</div>

</html>