<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        function orderCancel(orderId){
            var token =$("meta[name='_csrf']").attr("content");
            var header =$("meta[name='_csrf_header']").attr("content");

            var url = "/order/"+ orderId + "/cancel";
            var paramData = {
                orderId : orderId,
            }
            //json 문자열 형식으로 변경
            var param = JSON.stringify(paramData);

            $.ajax({
                url : url,
                type : "POST",
                contentType : "application/json",
                data : param,
                beforeSend : function(xhr){
                    /*데이터 전송하기 전에 헤더에 csrf 값 설정*/
                    xhr.setRequestHeader(header, token);

                },
                dataType : "json",
                cache : false,
                success : function(result, status){

                    alert("주문이 취소 되었습니다.");
                    location.href ='/orders'
                 },
               error : function(jqXHR, status, error){
                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요.');
                        location.href = '/members/login';
                    }else{

                        alert(jqXHR.responseText);
                    }
               }

            });

        }
    </script>
</th:block>

<th:block layout:fragment="css">
<style>
    div {
     display: block;
     unicode-bidi: isolate;
 }
     hr{
         width: 100px;
     }
     .mypage{
         float: left;
         margin-right: 20px;
     }
     .orderlist{
         float: left;
         width: 500px;
     }
     .tit {
     display: table-cell;
     vertical-align: middle;
      }
     img{
        width:100px;
        height:100px;
     }

</style>
</th:block>

<div layout:fragment="content">

        <div>
            <div class="mypage">
                <h3>마이페이지</h3>
                <div>
                    <ul style="list-style: none">
                        <hr style="border: 1px solid rgb(34, 34, 34);">
                        <li ><a href="/orders"><strong>예약내역</strong></a></li>
                        <hr>
                        <li><a>찜</a></li>
                        <hr>
                        <li><a>마일리지</a></li>
                        <hr>
                        <li><a>쿠폰함</a></li>
                        <hr>
                        <li><a>1:1문의</a></li>
                        <hr>
                        <li><a href="/qna">자주 찾는 질문</a></li>
                        <hr>
                        <li><a>My 여행 후기</a></li>
                        <hr>
                        <li><a href="/updateInfo">개인정보 수정</a></li>
                        <hr style="border: 1px solid rgb(34, 34, 34);">

                    </ul>
                </div>

            </div>
            <div class="orderlist">
                <div>
                    <h3 class="tit">예약 내역</h3>
                </div>
                <div>
                   <table th:each="order, status : ${orderlist}">
                                <tr >
                                    <td th:text="${order.orderDate}"></td><!--주문 시간-->
                                    <td th:text="${order.orderId}"></td><!--주문번호-->
                                </tr>
                                <tr th:each="orderItem : ${order.orderItemDtoList}">
                                    <td rowspan="3" >
                                        <div>
                                            <img th:src="${orderItem.imgUrl}" class="rounded repImg" th:alt="${orderItem.itemNm}">
                                        </div>
                                    </td><!--이미지-->
                                    <td  th:text="${orderItem.itemNm}">
                                    </td><!--상품명-->
                                </tr>
                                <tr th:each="orderItem : ${order.orderItemDtoList}">
                                    <td  th:text="${orderItem.count}">

                                    </td><!--인원-->
                                </tr>
                                <tr th:each="orderItem : ${order.orderItemDtoList}">
                                    <td th:text="${orderItem.orderPrice}"></td><!--가격-->
                                </tr>
                                <tr>
                                    <td >
                                        <button th:if="${order.orderStatus == T(com.trip.constant.OrderStatus).ORDER}" type="button" th:value="${order.orderId}" onclick="orderCancel(this.value)" >주문 취소</button>
                                        <h3 th:unless="${order.orderStatus == T(com.trip.constant.OrderStatus).ORDER}">취소 완료</h3>
                                    </td>
                                    <td>
                                        <button type="button" th:value="${order.orderId}" th:onclick="|location.href='/order/detail/${order.orderId}'|">주문 상세보기</button>
                                    </td>

                                </tr>

                    </table>
                </div>
            </div>

      </div>

</div>

</html>