<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
<style>
    table, th, td{
        border: 1px solid #ccc;
    }
    th, td { padding: 10px 20px;}
    .popup_layer{
        list-style:none
    }img{
        width:100px;
        height:100px;
    }


</style>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>
</th:block>



<div layout:fragment="content">
    <table>
        <div>
            <tr >
                <td colspan="2"><img th:src="${item.ItemImgDtoList[0].ImgUrl}" style="width:400px;height:300px;"></td>
                <!--상품명-->

            <tr >
            <tr >
                <td style="width:120px;">상품명</td>
                <td th:text="${item.itemNm}"></td><!--상품명-->
            <tr >


            <tr >
                <td>국내외</td>
                <td>[[${item.nature.displayName}]]</td><!--해당 나라-->
            <tr >
            <tr >
                <td>해당 지역</td>
                <td>[[${item.category.displayName}]]</td><!--해당 지역-->
            <tr >
            <tr >
                <td>출발일</td>
                <td  th:text="${item.startDate}"></td><!--출발일-->
            <tr >
            <tr >
                <td>도착일</td>
                <td  th:text="${item.endDate}"></td><!--출발일-->
            <tr >
            <tr >
                <td>가격</td>
                <td th:text="${item.price}"></td><!--가격-->
            <tr >
            <tr >
                <td>상세 설명</td>
                <td th:text="${item.itemDetail}"></td><!--상세 설명-->
            <tr >




        </div>

    </table>

</div>


</html>