<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<body>
<div layout:fragment="content">


    <div th:each="item : ${items}">
        <div th:if="${item.nature == T(com.trip.constant.Nature).DOMESTIC}">
            <div class="card">
                <a th:href="'/item/' + ${item.id}" class="text-dark">
                    <img th:src="${item.itemImgs[0].imgUrl}" class="card-img-top" th:alt="${item.itemNm}" height="300" width="50">
                </a>
            </div>
            <div>
                <a>[[${item.itemNm}]]</a><!--상품명-->
            </div>
            <div>
                <a>[[${item.price}]]원</a><!--가격-->
            </div>

        </div>
    </div>
</div>
</body>
</html>