<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link href="headers.css" rel="stylesheet">

    <style>

        .b-example-divider {
          width: 100%;
          height: 3rem;
          background-color: rgba(0, 0, 0, .1);
          border: solid rgba(0, 0, 0, .15);
          border-width: 1px 0;
          box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }
        .a {
          color:black;
        }

nav-item{
list-style-type: none;
        }




    </style>

<body>
<div th:fragment="header">
    <div class="container">
        <header class="d-flex  align-items-center  py-3 mb-4 border-bottom">
            <a class="navbar-brand" href="/">
                <img th:src="@{/css/images/logo.png}" height="50">
            </a>


            <svg width="100" height="100"></svg>


            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2">모든메뉴</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary">국내 여행</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary">해외 여행</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary">이벤트</a></li>
                <li><a href="/qna" class="nav-link px-2 link-secondary">Q&A</a></li>
            </ul>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/admin/item/new" class="nav-link px-2 link-secondary">패키지 작성</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary">공지사항 작성</a></li>
            </ul>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/members/login" class="nav-link px-2">로그인</a></li></ul>

                <div class="dropdown-center">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        마이페이지
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/orders">예약 내역</a></li>
                        <li><a class="dropdown-item" href="/cart">찜 내역</a></li>
                        <li><a class="dropdown-item" href="#">1:1문의</a></li>
                        <li><a class="dropdown-item" href="/mypage">마이페이지</a></li>
                    </ul>
                </div>


            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <span class="navbar-text" th:text="${#authentication.name} + '님 반갑습니다'"></span>
            </ul>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <a class="nav-link" href="/members/logout">로그아웃</a>
            </ul>

            </header>
    </div>
    </div>
</body>
</html>
