<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- jQuery 및 관련 JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <!-- Thymeleaf 스크립트와 CSS -->
    <script th:inline="javascript">

        $(document).ready(function() {
              $("#searchBtn").on("click", function(e){
                 e.preventDefault();
                 Searchhref();
             });


            // Slick Carousel 초기화
            $('.slider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 4000
            });

            // DateRangePicker 초기화
            $('input[name="datefilter"]').daterangepicker({
                autoUpdateInput: false,
                locale: {
                    cancelLabel: 'Clear'
                }
            });

            $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            });

            $('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });

            // 여행지 및 출발지 이벤트 처리

             $('#placeDiv').hide();
             $('#DomesticMenu').hide();
             $('#OverseasMenu').hide();
             $('#startMenu').hide();


            $('#placeSearch').on("click", function() {
                $('#placeDiv').toggle();
            });

            $('#Domestic').on("click", function() {
                $('#DomesticMenu').toggle();
            });

            $('#Overseas').on("click", function() {
                $('#OverseasMenu').toggle();
            });

            $('#startPlace').on("click", function() {
                $('#startMenu').toggle();
            });

            // 각 도시 버튼 클릭 시 이벤트 처리
            $('#placeIncheon, #placeSeoul, #placeDeajeon, #placeYangyang, #placeBusan, #placeJeju').on("click", function() {
                var start = $(this).text();
                $('#placeSearch').val(start);
            });

            $('#placeAme, #placePhi, #placeVie, #placeKot, #placeJap, #placeHaw').on("click", function() {
                var start = $(this).text();
                $('#placeSearch').val(start);
            });

            $('#startIncheon, #startBusan, #startDeagu, #startChungju, #startGwangju, #startYangyang, #startJeju').on("click", function() {
                var start = $(this).text();
                $('#startPlace').val(start);
            });


        function Searchhref(){
            var placeSearch = $("#placeSearch").val();
            var startPlace = $("#startPlace").val();
            var datefilter = $("#datefilter").val();
            console.log(datefilter);


             location.href=
                "/admin/items/"+ 'page' + "?placeSearch=" + placeSearch
                 + "&startPlace=" + startPlace + "&datefilter=" + datefilter;

         }

        });
    </script>

    <style>
        .main{
        margin-top:-50px;
        margin-left:-300px;
           width:3000px;
        background-color: #D5EAFC;
            height: 720px;
    position: relative;
        }

          .slider {
          margin-left:950px;
          display: block;
          width: 740px;
          height: 610px;
        }

        .slider img{
         margin-top:50px;
        }


    </style>

</head>

<body>
<div layout:fragment="content">
    <div class="main">

            <div class="slider">
                <div><img th:src="@{/css/images/jeju.jpg}"></div>
                <div><img th:src="@{/css/images/puket.jpg}"></div>
                <div><img th:src="@{/css/images/eu.jpg}"></div>
                <div><img th:src="@{/css/images/dongnam.jpg}"></div>
            </div>

      <form th:action="@{/admin/items/}" method="get" role="form"></form>

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>
        <!--
        <input type="text" name="placeSearch" id="placeSearch" placeholder=" 여행 가고 싶은 곳을 골라주세요">
        <div name="placeDiv" id="placeDiv">
            <button type="button" name="Domestic" id="Domestic">국내</button>
            <div name="DomesticMenu" id="DomesticMenu">
                <button type="button" name="placeIncheon" id="placeIncheon" value="인천">인천</button>
                <button type="button" name="placeSeoul" id="placeSeoul" value="서울">서울</button>
                <button type="button" name="placeDeajeon" id="placeDeajeon" value="대전">대전</button>
                <button type="button" name="placeYangyang" id="placeYangyang" value="양양">양양</button>
                <button type="button" name="placeBusan" id="placeBusan" value="부산">부산</button>
                <button type="button" name="placeJeju" id="placeJeju" value="제주도">제주도</button>
            </div> -->
    </div>
    </div>
</body>

</html>
