<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>버스 탑승지</title>

</head>
<h2>인천 버스 탑승지</h2>
<body>
<div id="map" style="width:350px;height:350px;"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b67a36ab7e4134e8f182a8b7ee5dfbfa"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.491198, 126.720625), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커를 표시할 위치입니다
var position =  new kakao.maps.LatLng(37.491198, 126.720625);

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
  position: position
});

// 마커를 지도에 표시합니다.
marker.setMap(map);

// 마커에 커서가 오버됐을 때 마커 위에 표시할 인포윈도우를 생성합니다
var iwContent = '<div style="padding:5px;">인천 탑승지 상록 스테이션 타워</div>'; // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다

// 인포윈도우를 생성합니다
var infowindow = new kakao.maps.InfoWindow({
    content : iwContent
});

// 마커에 마우스오버 이벤트를 등록합니다
kakao.maps.event.addListener(marker, 'mouseover', function() {
  // 마커에 마우스오버 이벤트가 발생하면 인포윈도우를 마커위에 표시합니다
    infowindow.open(map, marker);
});

// 마커에 마우스아웃 이벤트를 등록합니다
kakao.maps.event.addListener(marker, 'mouseout', function() {
    // 마커에 마우스아웃 이벤트가 발생하면 인포윈도우를 제거합니다
    infowindow.close();
});


    // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
    // marker.setMap(null);
</script>
<h2>인천광역시 부평구 경원대로 1366 상록 스테이션 타워 앞</h2>
<hr>
<hr>
<h2>서울 버스 탑승지</h2>
<div id="map2" style="width:350px;height:350px;"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b67a36ab7e4134e8f182a8b7ee5dfbfa"></script>
<script>
    var mapContainer2 = document.getElementById('map2'), // 지도를 표시할 div
    mapOption2 = {
        center: new kakao.maps.LatLng(37.555894, 126.971866), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map2 = new kakao.maps.Map(mapContainer2, mapOption2); // 지도를 생성합니다

// 마커를 표시할 위치입니다
var position2 =  new kakao.maps.LatLng(37.555894, 126.971866);

// 마커를 생성합니다
var marker2 = new kakao.maps.Marker({
  position: position2
});

// 마커를 지도에 표시합니다.
marker2.setMap(map2);

// 마커에 커서가 오버됐을 때 마커 위에 표시할 인포윈도우를 생성합니다
var iwContent2 = '<div style="padding:5px;">서울 탑승지 문화역서울284</div>'; // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다

// 인포윈도우를 생성합니다
var infowindow2 = new kakao.maps.InfoWindow({
    content : iwContent2
});

// 마커에 마우스오버 이벤트를 등록합니다
kakao.maps.event.addListener(marker2, 'mouseover', function() {
  // 마커에 마우스오버 이벤트가 발생하면 인포윈도우를 마커위에 표시합니다
    infowindow2.open(map2, marker2);
});

// 마커에 마우스아웃 이벤트를 등록합니다
kakao.maps.event.addListener(marker2, 'mouseout', function() {
    // 마커에 마우스아웃 이벤트가 발생하면 인포윈도우를 제거합니다
    infowindow2.close();
});


    // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
    // marker.setMap(null);
</script>
<h2>서울 중구 통일로 1 문화역서울284</h2>
<hr>
<hr>
</body>
</html>